extends ../configs/pug/layouts/main

block variables
    - let title = 'gulp-template'

block content
    include ../blocks/header/header
    include ../blocks/main/main
    include ../blocks/footer/footer
